alembic==1.18.4
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
distlib==0.4.0
Faker==40.18.0
filelock==3.25.2
Flask==3.1.3
flask-cors==6.0.2
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.0
idna==3.13
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
packaging==26.0
pipenv==2026.5.0
platformdirs==4.9.4
pluggy==1.6.0
psycopg2-binary==2.9.11
Pygments==2.20.0
pytest==9.0.2
python-discovery==1.2.1
pytz==2026.2
requests==2.33.1
setuptools==82.0.1
SQLAlchemy==2.0.49
sqlalchemy-serializer==1.6.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
virtualenv==21.2.0
Werkzeug==3.1.8
